/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc00;
}

.container {
    text-align: center;
    padding: 40px 0;
}

.content {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h2 {
    color: #007BFF;
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.login-link {
    color: #555;
    font-size: 1.1em;
    margin-top: 15px;
}

.login-link a {
    color: #FF4081;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

#userInfo {
    display: none;
    margin-top: 30px;
}

h3 {
    font-size: 1.8em;
    color: #007BFF;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 30px;
    margin-right: 10px;
}

.footer-links ul {
    list-style: none;
    display: flex;
}

.footer-links ul li {
    margin-right: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-social {
    /* Add styling for social media icons or feeds */
}
